@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

div {
}

table {
    text-align: center;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    border-style: solid;
    border-width: .5em;
    border-color: rgb(43, 45, 66);
    border-radius: 2em;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
}
 caption {
    text-align: center;

 }
